@using MyCMS.Utilities
@model IEnumerable<DataLayer.Page>

@{
    ViewBag.Title = "Index";
}

<p>
    <a class="btn btn-success" href="/Admin/Pages/Create">افزودن صفحه جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageGroup.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-thumbnail" style="max-width: 150px" src="/PageImages/@item.ImageName"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageGroup.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowInSlider)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Visit)
        </td>
        <td>
            @item.CreateDate.ToShmasi()
        </td>
        <td>
            <a class="btn btn-warning" href="/Admin/Pages/Edit/@item.PageID">
                <span class="fa fa-edit"></span>
            </a>
            <a class="btn btn-info" href="/Admin/Pages/Details/@item.PageID">
                <span class="fa fa-info"></span>
            </a>
            <a class="btn btn-danger" href="/Admin/Pages/Delete/@item.PageID">
                <span class="fa fa-trash"></span>
            </a>
      </td>
    </tr>
}

</table>
